In [18]:
import pandas as pd
import numpy as np
import pickle

import keras
from keras.models import Model
from keras.layers import *
from keras import optimizers
from keras.layers import Input, Dense
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import Flatten
from keras.layers.convolutional import Conv2D
from keras.layers.convolutional import MaxPooling2D
from keras.utils import np_utils

In [19]:
df_train=pd.read_csv('newtrain.csv',index_col=False)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,255,255,255,223,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10
2,0,0,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10
3,255,255,255,255,255,255,255,0,0,0,...,0,0,0,0,0,0,0,0,0,10
4,255,255,255,223,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10

In [20]:
labels=df_train[['784']]

In [21]:
df_train.drop(df_train.columns[[784]],axis=1,inplace=True)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,255,255,255,223,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
2,0,0,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
3,255,255,255,255,255,255,255,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,255,255,255,223,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
np.random.seed(1212)

In [23]:
labels=np.array(labels)

In [24]:
from keras.utils.np_utils import to_categorical
cat=to_categorical(labels,num_classes=20)

In [25]:
print(cat[0])

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [26]:
l=[]
for i in range(16513):
    l.append(np.array(df_train[i:i+1]).reshape(28,28,1))

In [27]:
np.random.seed(7)

In [28]:
model=Sequential()
model.add(Conv2D(30, (5, 5), input_shape=( 28, 28,1), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Conv2D(60, (3, 3), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.2))
model.add(Flatten())
model.add(Dense(256, activation='relu'))
model.add(Dense(128, activation='relu'))
model.add(Dense(64, activation='relu'))
# model.add(Dense(32, activation='relu'))
model.add(Dense(20, activation='softmax'))

In [29]:
model.compile(loss="categorical_crossentropy", optimizer="adam",metrics=['accuracy'])

In [30]:
model.fit(np.array(l), cat, epochs=10, shuffle=True)

Epoch 1/10
517/517 [==============================] - 13s 25ms/step - loss: 0.8542 - accuracy: 0.7447
Epoch 2/10
517/517 [==============================] - 12s 23ms/step - loss: 0.2938 - accuracy: 0.8935
Epoch 3/10
517/517 [==============================] - 12s 23ms/step - loss: 0.2213 - accuracy: 0.9130
Epoch 4/10
517/517 [==============================] - 12s 23ms/step - loss: 0.2117 - accuracy: 0.9168
Epoch 5/10
517/517 [==============================] - 12s 24ms/step - loss: 0.1512 - accuracy: 0.94080s - loss: 0.1507
Epoch 6/10
517/517 [==============================] - 13s 24ms/step - loss: 0.1552 - accuracy: 0.93820s - los
Epoch 7/10
517/517 [==============================] - 13s 25ms/step - loss: 0.1490 - accuracy: 0.9405
Epoch 8/10
517/517 [==============================] - 12s 24ms/step - loss: 0.1421 - accuracy: 0.93960s - loss: 0.143
Epoch 9/10
517/517 [==============================] - 13s 25ms/step - loss: 0.1344 - accuracy: 0.9436
Epoch 10/10
517/517 [==============================] - 12s 23ms/step - loss: 0.1219 - accuracy: 0.9497

In [32]:
model.save('modelnew.keras')