In [20]:
import pandas as pd
import numpy as np
import pickle

import keras
from keras.models import Model
from keras.layers import *
from keras import optimizers
from keras.layers import Input, Dense
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import Flatten
from keras.layers.convolutional import Conv2D
from keras.layers.convolutional import MaxPooling2D
from keras.utils import np_utils

In [21]:
df_train=pd.read_csv('train.csv',index_col=False)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
1,177,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,10
2,0,0,132,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,10
3,255,255,255,255,255,255,255,255,214,0,...,0,0,0,0,0,0,0,0,0,10
4,255,255,255,255,255,255,255,114,0,0,...,0,0,0,0,0,0,0,0,0,10

In [22]:
labels=df_train[['784']]

In [23]:
df_train.drop(df_train.columns[[784]],axis=1,inplace=True)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,177,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,132,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
3,255,255,255,255,255,255,255,255,214,0,...,0,0,0,0,0,0,0,0,0,0
4,255,255,255,255,255,255,255,114,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
np.random.seed(1212)

In [25]:
labels=np.array(labels)

In [26]:
from keras.utils.np_utils import to_categorical
cat=to_categorical(labels,num_classes=17)

In [32]:
print(cat[0])

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0.]

In [27]:
l=[]
for i in range(10548):
    l.append(np.array(df_train[i:i+1]).reshape(28,28,1))

In [28]:
np.random.seed(7)

In [29]:
model=Sequential()
model.add(Conv2D(30, (5, 5), input_shape=( 28, 28,1), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Conv2D(15, (3, 3), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.2))
model.add(Flatten())
model.add(Dense(206, activation='relu'))
model.add(Dense(128, activation='relu'))
model.add(Dense(50, activation='relu'))
model.add(Dense(17, activation='softmax'))

In [33]:
model.compile(loss="categorical_crossentropy", optimizer="adam",metrics=['accuracy'])

In [34]:
model.fit(np.array(l), cat, epochs=10, shuffle=True)

Epoch 1/10
330/330 [==============================] - 6s 15ms/step - loss: 1.5922 - accuracy: 0.5285
Epoch 2/10
330/330 [==============================] - 5s 14ms/step - loss: 0.5471 - accuracy: 0.8210
Epoch 3/10
330/330 [==============================] - 5s 14ms/step - loss: 0.3394 - accuracy: 0.8847
Epoch 4/10
330/330 [==============================] - 5s 14ms/step - loss: 0.2620 - accuracy: 0.9058
Epoch 5/10
330/330 [==============================] - 5s 14ms/step - loss: 0.2215 - accuracy: 0.9185
Epoch 6/10
330/330 [==============================] - 5s 14ms/step - loss: 0.2002 - accuracy: 0.9271
Epoch 7/10
330/330 [==============================] - 5s 15ms/step - loss: 0.1794 - accuracy: 0.9316
Epoch 8/10
330/330 [==============================] - 5s 15ms/step - loss: 0.1540 - accuracy: 0.9410
Epoch 9/10
330/330 [==============================] - 5s 14ms/step - loss: 0.1628 - accuracy: 0.9375
Epoch 10/10
330/330 [==============================] - 5s 14ms/step - loss: 0.1536 - accuracy: 0.9393

In [35]:
model.save('model.keras')